* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#canvas{
    position: absolute;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
    transform: translate(-50%,-50%);
    background: radial-gradient(#060300,#060300);
}

#wrap {
    text-align: center;
}


.enemy-status,
.ammo-status ,
.live-status{
    margin-right: 10px;
    font-size: 20px;
    color: rgb(11, 1, 1);
}


.status-wrapper {
    display: flex;
    justify-content: center; /* Zarovnání na střed */
    margin: auto; /* Zarovnání na střed */
    text-align: center;
}